* {padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  border-radius: 5px;
}

html, body{
  padding: 5px;
  background-image: 
  url(./laptop-half-closed-dark-with-colourful-glow-glasses-paper-cup.jpg);
  background-size: cover;
  background-position: center;
 
}

.main-box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  100px auto;
  grid-column-gap: 20px;
  border: gray 4px solid;
  background-color: antiquewhite;
  
  
  
}

.main-box1 a {
  margin-right: 25px;
  text-decoration: none;
font-weight: bold;
  padding: 2px;


}

div.header-left {
animation-name: headbounce;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  
}

@keyframes headbounce {
  0% { transform: translateY(100%);}
  50% { transform: translateY(-50%);}
  100% { transform: translateY(0);}
}

.header-right ul {
  
  margin-top: 16px;
  justify-self: end;
  
  
}
.main-box2{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  

}
.button1 {
  background-color: #4CAF50;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 15px;
  width: 200px;
  height: 100px;
  transition: width 2s, height 2s, transform 2s;
  animation-name: buttonspin;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  }

  @keyframes buttonspin {
    0% { background-color: #4CAF50;}
    25% { background-color: yellow; }
    50% { background-color: blue; }
    75% { background-color: red; }
    100% { background-color: cyan};
  }

  .button1:hover{
    width: 500px;
    height: 200px;
    transform: rotate(180deg);
  }
.top-right {
  
  width: auto;
}
 
  

.top-right h1 {
  color: rgb(20, 198, 238);
  font-size: 70px;

  display: block;
  animation-name: hero;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;

}

@keyframes hero {
  0% { color: rgb(20, 198, 238);}
  25% { color: rgb(224, 35, 10);}
  50% { color: rgb(4, 180, 57);}
  75% { translate: scale(80px);}
  100% { color: rgb(20, 198, 238); }
}
.top-right h4 {
  font-size: large;
  color: azure;
}

.top-left img {
  width: auto !important;
  
}
.solv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(300px);
  gap: 30px;
  
}

.header-msg1 {
  color: #1723d77f;
  font-size: 20px;
 
  background-color: white;
  box-shadow: rgb(175, 14, 175) 5px 5px 5px;
}
.header-msg1 h2 {

  text-align: center;
}
.whoami {
  color: #1e1bcd7f;
  font-size: 20px;
  background-color: white;
  box-shadow: rgb(205, 36, 205) 5px 5px 5px;
  transition: ;
}

.whoami h2 {

  text-align: center;
}
.main-box3 {
  display: grid;
  grid-template-columns: /*repeat(3, 1fr)*/ 1fr auto 1fr ;
  grid-template-rows: auto auto;
  gap:10px;
  width: 100%;
  max-width: 800px;
  height: 50vh;
  margin: auto;
  
}

.main-box3 {
  display: grid;
  grid-template-columns: (150px, 4);
  grid-template-rows: 50px 100px
   
}

.mid-1 {
  background-color: white;
  grid-column: 1 / 4;
  grid-row: 10px;

}
div.mid-1 {
  
}
.mid-1 p {
  color: blue;
  text-align: center;
  align-content: center;
  font-weight: bold;
  font-size: x-large;

}

.mid-2 {
  background-color: white;
  
}

.abt-1 {
  background-color: rgb(255, 255, 204);

}

.abt-2 {
  background-color: white;
  text-align: center;
  
  
}


.main-box4 {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 3.5fr;
  grid-template-rows: 250px;
  grid-column-gap: 35px;
  
}

  

.header-msg2{
  border: #4CAF50 15px solid;
  background-color: white;
  
  
  }

.icons {
  border: #4CAF50 10px solid;
  background-color: white;
  align-self: center;
  
}
.header-msg3 {
  background-color: white;
  border: #4CAF50 5px solid;
  
}


.footer-right {

  background: #222; 
  padding: 15px 0;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}
.footer-right a {
  color: #00acee;
  text-decoration: none;
  font-weight: bold;
}
.footer-right a:hover {
  color: #007bff;
}

.footer-right #backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  background: #00acee;
  color: white;
  border-radius: 15px;
  border: none;
  display:  block;
  transition: opacity 0.3s, transform 0.3s;
}
/* ABOUT PAGE STYLES GO HERE */

@media (max-width: 768px) {
  body {
      grid-template-columns: 1fr; /* Stack columns on small screens */
  }
}